@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,400;0,500;1,800&display=swap");
@tailwind utilities;
@tailwind components;
@tailwind base;

* {
	font-family: 'Alumni Sans', sans-serif;
}

html {
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background: hsl(198, 81%, 25%);
	border-radius: 2em;
}

::-webkit-scrollbar-thumb {
	background: hsl(198, 81%, 59%);
	border-radius: 2em;
}

@supports(scrollbar-color:red blue) {
	* {
		scrollbar-color: hsl(198, 81%, 45%) hsl(198, 81%, 89%);
		scrollbar-width: auto;
	}
}